<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apple.interninternational">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ij_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ij_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Activity.LaunchingScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginScreen" />
        <activity android:name=".Activity.HomeScreen" />
        <activity android:name=".Fragment.InternationalFragment" />
        <activity android:name=".Fragment.NationalFragment" />
        <activity android:name=".Fragment.InternationalDetailsFragment" />
        <activity android:name=".Activity.NgoDetailsScreen" />
        <activity android:name=".Activity.CvTipsDetailsScreen" />
        <activity android:name=".Activity.RegisterScreen" />
    </application>

</manifest>